.cta-btn a{
    padding: 0.8rem 2rem;
    border-radius: 50px;
    background-color: var(--color-tertiary);
    border: 0;
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-primary);
}

.cta-btn a:hover{
    outline: 2px var(--color-tertiary) solid;
    transition: 0.3s ease-in-out;
}