.heading-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading-text h2{
    font-size: 2rem;
}

.heading-text p{
    font-size: 0.8em;
    letter-spacing: 0.1rem;
}

.heading-seperator {
    display: flex;
    align-items: center;
    position: relative;
    width: 180px;
    margin: 15px 0 0;
}

.seperator-line {
    width: 100%;
    height: 2px;
    background-color: #1f221f;
}

.seperator-blob {
    height: 10px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.seperator-blob-inner{
    width: 35px;
    border-radius: 10px;
    background-color: #f76d0a;
}