.vision-wrapper{
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
}

.vision-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.vision-image{
    width: 30%;
}

.vision-image img{
    width: 100%;
}

.vision-text{
    width: 30%;
}

.vision-text h4{
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px){
    .vision-image{
        width: 50%;
    }

    .vision-text{
        width: 50%;
    }
}