.contact-wrapper{
    display: flex;
    flex-direction: column;
}

.contact-form-container{
    background-color: var(--color-tertiary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 1rem;
}

.contact-form-wrapper{
    width: 45%;
}

.contact-form-wrapper h4{
    margin-bottom: 0.6rem;
    color: var(--color-primary);
}

.contact-form-image{
    width: 45%;
}

.contact-form-image img{
    width: 100%;
}

@media screen and (max-width: 768px){
    .contact-form-container{
        flex-direction: column;
    }

    .contact-form-wrapper{
        width: 100%;
    }

    .contact-form-image{
        width: 90%;
        margin-bottom: 2rem;
    }
}
