.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 6rem;
}

.navbar-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-menu p {
    color: var(--color-secondary);
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 1rem;
    font-weight: 500;
}

.navbar-logo {
    font-weight: 800;
    font-size: 3rem;
}

.navbar-menu-toggle{
    display: none;
}

.navbar-menu-container{
    display: flex;
    color: var(--color-secondary);
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background: var(--color-tertiary);
    padding: 1rem ;
    position: absolute;
    margin: 3rem 0.4rem;
    min-width: 200px;
    border-radius: 5px;
    animation-duration: 0.2s;
}

@media screen and (max-width: 768px) {
    .navbar-container {
        padding: 1.5rem 3rem;
    }

    .navbar-logo {
        font-size: 2rem;
    }
    
}

@media screen and (max-width: 480px) {
   .navbar-menu, .navbar-logo{
       display: none;
   }

   .navbar-container{
         padding: 1rem;
   }

    .navbar-menu-toggle{
        visibility: visible;
        color: var(--color-primary);
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    .navbar-menu-toggle p{
        margin: 0.5rem 0;
        font-size: 1.2rem;
        font-weight: 500;
    }
}