.tech-wrapper{
    display: flex;
    flex-direction: column;
}

.tech-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tech-image{
    width: 30%;
}

.tech-image img{
    width: 100%;
}

.tech-text{
    width: 30%;
}

.tech-text h4{
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px){
    .tech-image{
        width: 50%;
        padding-right: 1rem;
    }

    .tech-text{
        width: 50%;
    }
}

@media screen and (max-width: 480px){
    .tech-container{
        flex-direction: column;
    }
    .tech-image{
        width: 80%;
    }
    .tech-text{
        width: 100%;
    }
    
}