*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--font-family);
}

a{
    text-decoration: none;
    color: unset;
}

.section-margin{
    margin: 5rem;
}

.section-padding{
    padding: 0 5rem;
}