@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,900&display=swap');


:root{
    --font-family: 'Montserrat', sans-serif;

    --color-primary: #154b63;
    --color-secondary: rgb(43, 44, 45);
    --color-tertiary: rgb(145, 182, 222);
    --color-text: rgb(96, 117, 139);
    --color-bg: rgb(243, 243, 243);
}

  
  ::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
  }
  
  body ::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 100%, 0.16);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  ::-webkit-scrollbar-track {
    background: hsla(0, 0%, 100%, 0.1);
  }